<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dvp.jidch.mapper.DynProjectMapper">
    <select id="findALL" resultType="com.dvp.jidch.model.DynProject">
        SELECT  DISTINCT ROW_NUMBER() OVER (ORDER BY dpdtjyy DESC) num, dpdtjyy, COUNT(*) AS dt,
                   SUM(CASE jycs WHEN 1 THEN 1 ELSE 0 END) AS jc1, SUM(CASE jycs WHEN 2 THEN 1 ELSE 0 END) AS jc2,
                   SUM(CASE jycs WHEN 3 THEN 1 ELSE 0 END) AS jc3, SUM(CASE jycs WHEN 4 THEN 1 ELSE 0 END) AS jc4,
                   (select max('20' + SUBSTRING(jylsh, 8, 6)) as riqi from pda_db.dbo.AC_DATA_DYN) as riqi
        FROM      pda_db.dbo.AC_DATA_DYN AS d
        WHERE   (dpdtjyy IS NOT NULL)
        GROUP BY dpdtjyy

    </select>

    <select id="getListByName" resultType="com.dvp.jidch.model.DynProject">
        SELECT  ROW_NUMBER() OVER (ORDER BY dpdtjyy DESC) num, dpdtjyy, COUNT(*) AS dt,
                   SUM(CASE jycs WHEN 1 THEN 1 ELSE 0 END) AS jc1, SUM(CASE jycs WHEN 2 THEN 1 ELSE 0 END) AS jc2,
                   SUM(CASE jycs WHEN 3 THEN 1 ELSE 0 END) AS jc3, SUM(CASE jycs WHEN 4 THEN 1 ELSE 0 END) AS jc4
        FROM      pda_db.dbo.ac_data_dyn
        <where >
            dpdtjyy IS NOT NULL
            <if test="dpdtjyy != null and dpdtjyy != ''">
                and  dpdtjyy like  concat('%', #{dpdtjyy },'%')
            </if>
            <if test="startData != null and startData != ''">
                and '20' + SUBSTRING(jylsh, 8, 6) &gt;= #{startData}
            </if>

            <if test="stopData != null and stopData != ''">
                and '20' + SUBSTRING(jylsh, 8, 6) &lt;= #{stopData}
            </if>
        </where>
        GROUP BY dpdtjyy
    </select>






    <select id="getDynProjectByNamesss" resultType="com.dvp.jidch.model.DynProject">
        SELECT  ROW_NUMBER() OVER (ORDER BY dpdtjyy DESC) num, dpdtjyy, COUNT(*) AS dt,
                   SUM(CASE jycs WHEN 1 THEN 1 ELSE 0 END) AS jc1, SUM(CASE jycs WHEN 2 THEN 1 ELSE 0 END) AS jc2,
                   SUM(CASE jycs WHEN 3 THEN 1 ELSE 0 END) AS jc3, SUM(CASE jycs WHEN 4 THEN 1 ELSE 0 END) AS jc4,
                   (select max('20' + SUBSTRING(jylsh, 8, 6)) as riqi from pda_db.dbo.AC_DATA_DYN) as riqi
        FROM      pda_db.dbo.AC_DATA_DYN AS d
        WHERE   dpdtjyy like  concat('%', #{dpdtjyy },'%')
        GROUP BY dpdtjyy
    </select>

</mapper>